@font-face {
  font-family: "MyFont";
  src: url("MyFont.ttf");
}
/*  */
@font-face {
  font-family: "MyFont2";
  src: url("MyFont2.ttf");
}

nav,
div,
body {
  font-family: "MyFont";
}

#header {
  width: 100%;

  height: auto;
  border: 2px solid black;
}


#center {
  width: 100%;
  height: auto;
  border: 2px solid blue;
}

#footer {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.home {
  width: 100%;
  padding: 0px 40px;
}