@font-face {
    font-family: "MyFont";
    src: url('MyFont.ttf');
}
/*  */
@font-face {
    font-family: "MyFont2";
    src: url('MyFont2.ttf');
}

nav, div, body{
    font-family: "MyFont";
}

#header {
    width: 100%;
    height : auto;
    border : 2px solid black;
}

#center{
    width: 100%;
    height : auto;
    border : 2px solid blue;
    padding-top : 15px;
    padding-bottom : 15px;
}

#footer {
    width : 100%;
    height : auto;
    border : 2px solid black;
    padding-top : 15px;
    padding-bottom : 15px;
    text-align: left;
}